@import "tailwindcss";

@layer components {
  /* Custom styles for Prose content */
  .prose p {
    margin-bottom: 1em; /* Ensures consistent paragraph spacing */
  }

  .prose blockquote {
    font-family: var(--font-playfair); /* Use the serif font for quotes */
    font-size: 1.5em; /* Larger font size */
    font-style: italic;
    border-left: 4px solid theme('colors.purple.800'); /* Accent color border */
    padding-left: 1em;
    margin-left: 0;
    color: theme('colors.gray.700'); /* Slightly darker or different color */
  }
}

@layer base {
  html {
    font-family: var(--font-lato);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
  }
}